<h1 class='text-center'>Do Some Shit</h1>
  <!-- Modal -->

<div ng-controller='User1Ctrl' class='col-md-6 text-center'>
  <button ng-click='toggleModal()' class='btn btn-success'>Login</button>
  <modal-dialog show='modalShown' width='400px' height='60%'>
  <form ng-submit='userLogin()'>
      <div class='form-group'>
        <label for='email'>Email</label>
        <input type='email' class='form-control' id='email' placeholder='Enter Email' ng-model='user.email'>
      </div>
      <div class='form-group'>
        <label for='password'>Password</label>
        <input type='password' class='form-control' id='password' placeholder='Enter Password' ng-model='user.password'>
      </div>
      <button type='submit' class='btn btn-succes'>Login</button>
      </form>
  </modal-dialog>
</div>

<div ng-controller='UserCtrl' class='col-md-6 text-center'>
  <button ng-click='toggleModal()' class='btn btn-success'>Sign up</button>
  <modal-dialog show='modalShown' width='400px' height='60%'>
   <form ng-submit='userSignup()'>
        <logend>Signup</logend>
        <div class='form-group'>
          <label for='email'>Email</label>
          <input type='email' class='form-control' id='email' placeholder='Enter Email' ng-model='user.email'>
        </div>
        <div class='form-group'>
          <label for='password'>Password</label>
          <input type='password' class='form-control' id='password' placeholder='Enter Password' ng-model='user.password'>
        </div>
        <button type='submit' class='btn btn-succes'>Signup</button>
      </form>
  </modal-dialog>
</div>

<a class='btn btn-success col-md-4 col-md-offset-4 text-center' href='/dash-board'>Continue as guest</a>




