<div ng-controller='ChessMultplyPlayer'>
    <div class='container-fluid'>
        <div class='col-md-4 col-md-offset-3'  id="board1" style="width: 40%">
            <button ng-click="initGame()">Start Game</button>
        <button id='flipButton'>Rotate Board</button>
        </div>
        <div class='col-md-3'>
            <h3>Past Moves</h3>
            <ul>
                <li ng-repeat='items in moveHistory | limitTo:8'>
                    Color: {{ items.color }}
                    Piece: {{ items.piece }}
                    From: {{ items.from }}
                    To: {{ items.to }}
                </li>
            </ul>
        </div>
    </div>

    <div class='col-md-4 col-md-offset-1'>
    <div class="panel-body" id="groupChat">
        <h5 class='text-center'>Group Chat</h5>
    </div>
        <form ng-submit="groupChat()">
            <input id="teamChat" autocomplete="off" placeholder="Enter Message" ng-model="message"/><button>Send</button>
        </form>
        <div>
            <ul>
                <li>Users List</li>
                <li ng-repeat='items in objKeys'>
                    {{items}}
                </li>
            </ul>
        </div>
    </div>
</div>

<div class='col-md-4 col-md-offset-2' ng-controller='SocketCtrl'>
    <div class="panel-body" id="chatWindow">
                <h5 class='text-center'>Team Chat</h5>
    </div>
        <form ng-submit="sendChat()">
            <input id="m" autocomplete="off" placeholder="Enter Message" ng-model="message" /><button>Send</button>
        </form>
        <div>
            <ul>
                <li>Users List</li>
                <li ng-repeat='items in objKeys'>
                    {{items}}
                </li>
            </ul>
        </div>
    <h2>Pick a Team</h2>
    <button ng-click='setTeam("w")'>Offense</button>
    <button ng-click='setTeam("b")'>Defense</button>
</div>