<div class='col-md-6' ng-controller='ChessMultplyPlayer'>
    <div id="board1" style="width: 400px"></div>
    <button ng-click="initGame()">Start Game</button>
    <button id='flipButton'>Rotate Board</button>
    <div>
        <h3>Past 8 Moves</h3>
        <ul>
            <li ng-repeat='items in moveHistory | limitTo:8'>
                Color: {{ items.color }}
                Piece: {{ items.piece }}
                From: {{ items.from }}
                To: {{ items.to }}
            </li>
        </ul>
    </div>
    <div class='col-md-6'>
    <div class="panel-body" id="groupChat">
    </div>
        <form ng-submit="groupChat()">
            <input id="teamChat" autocomplete="off" placeholder="White Iversone" ng-model="message"/><button>Send</button>
        </form>
        <div>
            <ul>
                <li>Users List</li>
                <li ng-repeat='items in objKeys'>
                    {{items}}
                </li>
            </ul>
        </div>
    </div>
</div>

<div class='col-md-6' ng-controller='SocketCtrl'>
    <h2>Pick a Team</h2>
    <div>
        <button ng-click='setTeam("w")'>Offense</button>
        <button ng-click='setTeam("b")'>Defense</button>
    </div>
    <div class="panel-body" id="chatWindow"></div>
        <form ng-submit="sendChat()">
            <input id="m" autocomplete="off" placeholder="White Iversone" ng-model="message" /><button>Send</button>
        </form>
        <div>
            <ul>
                <li>Users List</li>
                <li ng-repeat='items in objKeys'>
                    {{items}}
                </li>
            </ul>
        </div>
</div>