<div class='col-md-6' ng-controller='ChessMultplyPlayer'>
	<div id="board1" style="width: 400px"></div>
	<button ng-click='initGame()'>Start Game</button>
	<div>
		<h3>Past 8 Moves</h3>
		<ul>
			<li ng-repeat='items in moveHistory | limitTo:8'>
				Color: {{ items.color }}
				Piece: {{ items.piece }}
				From: {{ items.from }}
				To: {{ items.to }}
			</li>
		</ul>
	</div>
</div>

<div class='col-md-6' ng-controller='SocketCtrl'>
	<ul id="messages">
		<li>Chat Messages</li>
	</ul>
	<form ng-submit="sendChat()">
		<input id="m" autocomplete="off" ng-model="message" /><button>Send</button>
	</form>
	<div>
		<ul>
			<li>Users List</li>
			<li ng-repeat='items in objKeys'>
				{{items}}
			</li>
		</ul>
	</div>
	<div id="rooms">
    <button ng-repeat="room in rooms" ><a href='/multi-player{{room}}'>Room #{{room}}</a></button>
	</div>
</div>
