<h1>This is where you login!</h1>

<form ng-submit='userLogin()'>
<logend>Login</logend>
	<div class='form-group'>
		<label for='email'>Email</label>
		<input type='email' class='form-control' id='email' placeholder='Enter Email' ng-model='user.email'>
	</div>
	<div class='form-group'>
		<label for='password'>Password</label>
		<input type='password' class='form-control' id='password' placeholder='Enter Password' ng-model='user.password'>
	</div>
	<button type='submit' class='btn btn-succes'>Login</button>
</form>