.panel-body#chatWindow {
  height: 450px;
  overflow: scroll;
  position: relative;
  border: 2px solid black;
}
.panel-body#chatWindow p:nth-child(odd) {
    background: #eee;
}
.img {
    margin: 0 auto;
}
#middleImage {

}
#modalHome {
    outline: 1px solid black;
    background-color: grey;
}