body {
background-color: #E0DCD7
}
nav {
    background-color: #E0DCD7
}
.panel-body#chatWindow {
  border-radius: 25px;
  height: 450px;
  overflow: scroll;
  position: relative;
  border: 2px solid grey;
}
.panel-body#chatWindow p:nth-child(odd) {
    background: #eee;
}
.panel-body#groupChat {
  border-radius: 25px;
  height: 450px;
  overflow: scroll;
  position: relative;
  border: 2px solid grey;
}
.panel-body#groupChat p:nth-child(odd) {
    background: #eee;
}
/*images on home page*/
#homeImage {
    opacity: 0.5;
    width: 80%;
    margin: auto;
}
/*modal styles*/
.ng-modal-dialog {
  position: absolute;
  width: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}
.ng-modal-dialog-content {
  padding:10px;
  text-align: center;
}
#dashChat form {
    padding: 3px;
    position: relative;
    bottom: 0; width: 100%;
}
#dashChat form input {
    border-radius: 15px;
    border: 2px solid grey;
    padding: 10px;
    width: 73%;
    margin-right: .5%;
}
#dashChat form button {
    width: 25%;
    padding: 10px;
}