.panel-body#chatWindow {
  height: 450px;
  overflow: scroll;
  position: relative;
  border: 2px solid black;
}
.panel-body#chatWindow p:nth-child(odd) {
    background: #eee;
}
#homeImage {
    opacity: 0.5;
    width: 80%;
    margin: auto;
}
.ng-modal-dialog {
  position: absolute;
  width: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}
.ng-modal-dialog-content {
  padding:10px;
  text-align: center;
}
